td {
  padding: 1rem 1rem;
}

th {
  padding: 1rem 1rem;
  font-weight: 500;
  font-size: 1.4rem;
}

tr {
  text-align: center;
}

.no-item {
  font-size: 1.1rem;
  font-style: italic;
  font-weight: 600;
  padding: 2rem 2rem;
}
